aside.toolbox {
  position: absolute;
  left: 2rem;
  top: 2rem;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.box {
  border-radius: 3px;
}

.box header h1{
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
}

.box-header {
  line-height: 1.1;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.panel {
  display:table;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed;
  top: 0;
  right: -30%;
  padding: 1rem 2rem;
  height: 100vh;
  width: 30%;
  background: white;
  box-shadow: 2px 2px 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  overflow: scroll;
  border-radius: 3px;
}

.panel-content {
  display:table-cell;
}

.open {
  right: 0%;
}

.close-btn {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  font-size: 20px;
  transition: 0.3s all ease;
  border: none;
}

.close-btn:hover {
  color: #66c6cb;
}


.sidePanelHeaderStyle {
  text-transform: uppercase;
  line-height: 3%;
  color: #353535;
}

hr {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.side-panel-value {
  text-transform: uppercase;
  color:#0a8672;
  font-size: 15px;
}

.side-panel-value span {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 17px;
  color:  #353535;
}

.side-panel-desc {
  margin-top: 40px;
  color: #353535;
  font-size: 17px;
}

a {
  color: #0065A4;
}

a:hover {
  text-decoration: none; 
  color: #115175;
}

.leaflet-left {
  margin-top: 1.5rem;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .panel {
    width: 80%;
    right: -80%
  }

  .open {
    right: 0%
  }

  .panel-overflow {
    height: 100%;
    overflow-y:scroll;
  }

  .sidePanelHeaderStyle {
    line-height: 110%;
  }

}

@media screen and (width: 768px) {
  .panel {
    width: 40%;
    right: -40%
  }

  .open {
    right: 0%
  }

  .panel-overflow {
    height: 100%;
    overflow-y:scroll;
  }

  .sidePanelHeaderStyle {
    line-height: 110%;
  }

}

@media screen and (width: 1024px) {
  .panel {
    width: 40%;
    right: -40%
  }

  .open {
    right: 0%
  }

  .sidePanelHeaderStyle {
    line-height: 110%;
  }

}

/* Override leaflet default styles */
.leaflet-top {
  position: relative !important
}
.leaflet-left .leaflet-control {
  margin-left: 0;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  position: fixed;
  bottom: 20px;
  left: 2rem;
}