aside.toolbox {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.box-header {
  line-height: 1.1;
}

* {
  box-sizing: border-box;
}

.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 0.5rem 1rem;
  background: #212121;
  color: white;
  font-size: 1.2rem;
}

.panel {
  display:table;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed;
  top: 0;
  right: -30%;
  padding: 1rem 2rem;
  height: 100vh;
  width: 30%;
  background: white;
  box-shadow: 2px 2px 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
}

.panel-content {
  display:table-cell;
}

.open {
  right: 0%;
}

.close-btn {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  padding: 10px 5px;
  font-size: 16px;
  transition: 0.3s all ease;
  border: none;
}

.close-btn:hover {
  color: #66c6cb;
}


.sidePanelHeaderStyle {
  text-transform: uppercase;
  line-height: 3%;
  color: #353535;
}

hr {
  color: rgba(0, 0, 0, 0.5)
}

.side-panel-value {
  text-transform: uppercase;
  color: #353535;
  font-size: 12px;
}

.side-panel-value span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

a {
  color: #66C6CB;
}

a:hover {
  text-decoration: none; 
  color: #0095AB;
}