aside.toolbox {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.box-header {
  line-height: 1.1;
}

* {
  box-sizing: border-box;
}

.panel {
  display:table;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed;
  top: 0;
  right: -30%;
  padding: 1rem 2rem;
  height: 100vh;
  width: 30%;
  background: white;
  box-shadow: 2px 2px 2px 7px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease;
  overflow: scroll;
}

.panel-content {
  display:table-cell;
}

.open {
  right: 0%;
}

.close-btn {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  font-size: 20px;
  transition: 0.3s all ease;
  border: none;
}

.close-btn:hover {
  color: #66c6cb;
}


.sidePanelHeaderStyle {
  text-transform: uppercase;
  line-height: 3%;
  color: #353535;
}

hr {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.side-panel-value {
  text-transform: uppercase;
  color: #353535;
  font-size: 15px;
}

.side-panel-value span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
}

.side-panel-desc {
  margin-top: 40px;
  color: #353535;
  font-size: 17px;
}

a {
  color: #1ba7bd;
}

a:hover {
  text-decoration: none; 
  color: #0095AB;
}

@media screen and (max-width: 480px) {
  .panel {
    width: 80%;
  }

  .panel-overflow {
    height: 100%;
    overflow-y:scroll; 
  }

}