@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Chart           =
============================*/

.interactive__charts {
  position: relative;
  width: 100%;
  max-width: $size__chart-width;
  margin: 0 0 auto;
  height: 500px;

  @include breakpoint(medium) {
    margin: 0 3rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .axis--y,
  .axis--x {
    color: $color__gray-300;

    .tick line {
      stroke: $color__gray-300;
    }
  }

  .axis--y {
    .tick:first-of-type {
      display: none;
    }
  }

  .axis--x .tick:first-of-type {
    line {
      display: none;
    }
  }

  .axis-line {
    stroke: $color__gray-300;
  }

  .subheading-x {
    transform: translate(55px, 60px);

    @include breakpoint(medium) {
      transform: translate(175px, 60px);
    }
  }

  .subheading-y {
    transform: translate(-65px, 250px) rotate(270deg);
  }

  .interactive__subheading {
    color: $color__item-labels;
  }

  circle {
    fill-opacity: 0.5;

    @each $indicator, $color in $indicators {
      &[data-color='#{$indicator}'] {
        fill: $color;
        stroke: darken($color, 1);
        stroke-width: 1.5px;
      }
    }

    &.is-faded {
      fill: $color__gray-100;
      stroke: $color__gray-300;
    }

    &.is-active {
      fill-opacity: 0.7;
      stroke-opacity: 1;
    }
  }

  .line {
    &.is-active {
      stroke: $color__red;
      stroke-dasharray: 5 5;
      paint-order: stroke fill markers;
    }
  }

  .text {
    display: none;

    &.is-active {
      display: block;
      color: $color__red;
      text-anchor: middle;
      stroke: $color__gray-100;
      stroke-width: 2;
      paint-order: stroke;
    }
  }
}
