html:root{
  background-color: #080808;
}

/* #hcContainer {
  height: 750px;
} */
@media only screen and (max-width: 688px) {
  /* General data label style */
  .highcharts-data-label text {
    display: none;
  }
}
