html:root{
  background-color: #080808;
}

.highcharts-a11y-proxy-button:hover { background-color: #551a51; }
.highcharts-no-tooltip:hover { background-color: #551a51; }

@media only screen and (max-width: 688px) {
  /* General data label style */
  .highcharts-data-label text {
    display: none;
  }
}
