ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.list {
  display: inline-block;
  border-radius: 50%;
}

#severe .country {
  background-color: #731765;
}

#high .country {
  background-color: #903179;
}

#moderate .country {
  background-color: #ae498d;
}

#low .country {
  background-color: #cc62a2;
}

.total {

  align-content: center;
}

.total span {
  margin-left: 10px;
  line-height: 30px;
  font-size: 20px;
  background-size: 100;
}

.tooltip-header {
  margin-bottom: 0;
}

.tooltip-country {
  margin-top: 0;
}