ul {
  list-style: none;
  padding-left: 0;
}

.list {
  display: inline-block;
  border-radius: 50%;
}

#severe .country {
  background-color: #731765;
}

#high .country {
  background-color: #903179;
}

#moderate .country {
  background-color: #ae498d;
}

#low .country {
  background-color: #cc62a2;
}