.highcharts-legend-item rect {
  display: none;
}

.highcharts-tooltip {
  /* height:auto;
  overflow:auto;
  white-space:normal !important;  */
  width: 80%;
}

.highcharts-plot-band-label {
  transform: translate(5px, 0)
}

ul {
  margin: 0 0 10px 10px;
  padding-left: 10px;
}

.date {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
}

/* Appears to be overwritten by element.style documentation shows you can edit individual point but does not show an overall change*/
.highcharts-annotation {
  font-weight: bold;
}