.title,
.subtitle {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.subtitle {
  font-size: 12px;
  color: #666;
}

.sr-only {
  padding: 15px 0 0 15px;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
  color: #333;
}

#optionSelect > option {
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
}

#hcContainer {
  padding-top: 10px;
}

.highcharts-legend-item rect {
  display: none;
}

.highcharts-tooltip {
  max-width: 300px !important;
  width: 100% !important;
}

.highcharts-tooltip span {
  height: auto;
  overflow: auto;
  white-space: normal !important;
}

.highcharts-plot-band-label {
  transform: translate(5px, 0);
}

ul {
  margin: 0 0 10px 10px;
  padding-left: 10px;
}

.legend-container {
  text-align: center;
  height: 100%;
  margin-bottom: 15px;
}

.legend-svg {
  height: 18px;
  width: 20px;
}

.legend-text {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  fill: #333333;
  padding-right: 10px;
}
