@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700';

body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}

a, a:visited, a:active {
  color: #444;
}

h1 {
  font-size:30px;
  letter-spacing: .025em;
  color: #444;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}

.container {
  width:90%;
  margin: auto;
}

/*#toolbar .button {
  border-color:#f2efef;
}

#toolbar .button:hover, #toolbar .button.active {
  background-color:#f2efef;
  color:#444;
}*/

.button {
  display:inline-block;
  padding:14px 15px;
  border: 2px solid #ED392A;
  background-color: #fff;
  line-height: 1em;
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius:2px;
  margin:0px 5px;
}

.button:hover, .button.active {
  background-color:#772132;
  color:#fff;
  border-color:#772132;
}

#years {
  border: 2px solid #ED392A;  
  border-radius:2px;
  color:#444;
  overflow: hidden; 
  position: relative;
  display: inline-block;
  background-color:#fff;
  vertical-align:middle;
}

#years:after {
  font-family:FontAwesome;
  content: '\f078';
  padding:11px 15px;
  position: absolute;
  right: -5px;
  top: 0;    
  z-index: 1;
  text-align: center;     
  pointer-events: none;
  box-sizing: border-box;
  color:#772132; 
}

select.dropdown {
    padding:14px 30px 13px 15px;
    text-align:center;
    background:transparent;
    border: 0;
    outline: none;
    font-size: 12px;
    line-height:1em;       
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

#regionFilter {
  text-align:center;
}

.checkbox {
  display:inline-block;
  margin-right:10px;
}

#regionFilter label {
  line-height: 1em;
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#vis {
  width: 100%;
  height: 500px;
  clear: both;
  margin-bottom: 10px;
  margin-top:20px;
}

#toolbar, #type {
  margin-bottom: 10px;
  text-align:center;
}

.year, .devLevelTitle {
  font-size:20px;
  fill:#ED392A;
  font-family: 'Roboto Slab', serif;
}

.devLevel {
  font-size:16px;
  fill:#444;
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 2px;
  border: 2px solid #f2efef;
  background: #fff;
	padding: 10px;
	width: 300px;
	font-size: 13px;
	z-index: 10;
  font-family: 'Roboto Slab', serif;
  color:#444;
}

.tooltip .name {
  font-weight:bold;
}

#searchContainer {
  text-align:center;
  margin-top:10px;
  margin-bottom:40px;
}

#searchContainer label {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  vertical-align:middle;
  text-transform:uppercase;
  margin-top:5px;
}

#searchContainer span {
  vertical-align:middle;
}

.typeahead,
.tt-query,
.tt-hint {
  padding:5px;
  border: 2px solid #f2efef;
  outline: none;
  vertical-align:middle;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #ED392A;
}

.tt-hint {
  color: #444
}

.tt-menu {
  width: 300px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 2px solid #f2efef;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  text-align:left;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #444;
  background-color: #f2efef;
}

.tt-suggestion.tt-cursor {
  color: #444;
  background-color: #f2efef;

}

.tt-suggestion p {
  margin: 0;
}

#loading {
  text-align:center;
  padding-top:20%;
}

#loading span {
  margin-top:10px;
}

/* Legend */
.scaleCircleLabel {
    vertical-align:middle;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#444;
    font-weight:bold;
    text-transform:uppercase;
}

@media only screen and (max-width: 767px) {
  #vis {
    height:300px;
  }
  .hiddenMobile {
    display:none;
  }
}
