@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700';

body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}

a, a:visited {
  color: #444;
  text-decoration:none;
}

a:active, a:hover {
  color: #772031;
  text-decoration:none;
}

h1 {
  font-size:30px;
  letter-spacing: .025em;
  color: #444;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width:95%;
  min-width:210px;
  margin: auto;
}

/* Data Selction */
.dataSelect {
  text-align:center;
}

.selectContainer {
  border: 2px solid #ED392A;  
  border-radius:2px;
  color:#444;
  overflow: hidden; 
  position: relative;
  display: inline-block;
  background-color:#fff;
  vertical-align:middle;
}

.selectContainer:after {
  font-family:FontAwesome;
  content: '\f078';
  padding:11px 15px;
  position: absolute;
  right: -5px;
  top: 0;    
  z-index: 1;
  text-align: center;     
  pointer-events: none;
  box-sizing: border-box;
  color:#772132; 
}

select.dropdown {
  padding:14px 30px 13px 15px;
  text-align:center;
  background:transparent;
  border: 0;
  outline: none;
  font-size: 12px;
  line-height:1em;       
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

.filter {

  max-width: 500px;
  padding:0 50px  20px;
  margin: 25px auto;
  border: 1px solid #a3bcc3;
}

ul  {
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  display: block;
}

ul li{
  display: inline-block;
  float: left;
  margin-right: 15px;
}

button.tiny {
  background-color: #ED392A;
  color: white;
  border: 0px;
  padding: 10px 15px;
  float: left;
  margin-top: 15px;
}

button.tiny:hover {
   background-color: #772132;

}

legend h5 {
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: .5px;
}

.filter-message {
  font-size: 90%;
}

.clear {
  clear: both;
}

/* Tooltip */
#tooltip {
  background-color: white;
  pointer-events: none;
  font-size: 12px;
  z-index: 1000;
  color: grey;
  position: fixed;
  width: 500px;
  border-radius: 6px;
  opacity: 0;
  bottom: 10%;
  right: 5%;
  box-shadow: 5px 5px 2.5px #666;
}

/* Source */
.source {
  text-align:left;
  font-size: 9px;
  max-width: 970px;
  margin: auto;
}

/* SVG */
.svgContainer {
  text-align:center;
  max-width:900px;
  margin: 0 auto;
}

path.chord {
  -webkit-backface-visibility: hidden;
  fill-opacity: .67;
  stroke: none;
}

text, .group path {
  cursor: pointer;
}