body {
  font-family: "Utopia Std", 'Times New Roman', Times, serif;
}

div#searchbox input {
  width: 75%;
}

div#results {
  background: #fff;
}

.toolbox {
  left: 24px;
  right: auto;
}

.box header h1 {
  display: inline-block;
  color: #080808;
  line-height: 28px;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  width: calc(100% - 67px);
}

.description {
  color: #757575;
  font-size: 12px;
  line-height: 16px;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
}

.button__title {
  font-size: 12px !important;
}

.indicator {
  text-transform: uppercase;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #080808;
  opacity: 0.9;
}

.timeline-current-date {
  color: #0054A4;
}


/* -------------------------------------------------------------------------- */
/*                                   Tooltip                                  */
/* -------------------------------------------------------------------------- */
.leaflet-popup-content-wrapper {
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #333;
}

.popupHeaderStyle {
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.popupEntryStyle {
  padding: 0;
  margin: 0;
  font: 14px "Source Sans Pro", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #e4e3e3;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

#controls #info h3 {
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin: 16px 0 4px;
}

/* -------------------------------------------------------------------------- */
/*                                   Legend                                   */
/* -------------------------------------------------------------------------- */
.legend {
  position: relative;
  top: 5px;
  margin: 0;
  padding: 0;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
}

.legend .legend__title {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 22px;
  color: #383737;
}

.legend__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
}

.legend__entry {
  flex: 0 1 20%;
  width: 100%;
  max-width: 45px;
  text-align: right;
}

.legend__entry img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  color: #383737;
  font-size: 14px;
  font-weight: 300;
}

.legend[data-type="total_cases"] {
  --ramp1: #ffc6c4;
  --ramp2: #f29ca3;
  --ramp3: #da7489;
  --ramp4: #b95073;
  --ramp5: #93345d;
  --ramp6: #672044;
}

.legend li {
  padding: 0px;
  margin: 0;
  position: relative;
}

.legend li::before {
  content: "";
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 25px;
  height: 5px;
  background: var(--bg);
}

#ramp1::before {
  background-color: var(--ramp1);
  border: 3px solid var(--ramp1);
}

#ramp2::before {
  background-color: var(--ramp2);
  border: 3px solid var(--ramp2);
}

#ramp3::before {
  background-color: var(--ramp3);
  border: 3px solid var(--ramp3);
}

#ramp4::before {
  background-color: var(--ramp4);
  border: 3px solid var(--ramp4);
}

#ramp5::before {
  background-color: var(--ramp5);
  border: 3px solid var(--ramp5);
}

#ramp6::before {
  background-color: var(--ramp6);
  border: 3px solid var(--ramp6);
}

.legend__value {
  position: relative;
  padding-bottom: 12px !important;
}

.legend__value > span {
  position: absolute;
  top: 15px;
  right: 23px;
  font-size: 12px !important;
}

#ramp6 > span {
  position: absolute;
  right: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                  Timeline                                  */
/* -------------------------------------------------------------------------- */
.timeline {
  display: flex;
}

.timeline .timeline-controls {
  flex: 0 1 auto;
}

.timeline .timeline-btn {
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  width: 25px;
  height: 21px;
  background-color: #3DD5FF;
  border: 0;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: all 0.3s ease-in-out;
}

.timeline .timeline-btn::after {
  content: "";
  display: inline-block;
}

.timeline .timeline-btn.play-btn::after {
  border-top: 0.3rem solid transparent;
  border-left: 0.5rem solid #080808;
  border-bottom: 0.3rem solid transparent;
}

.timeline .timeline-btn.pause-btn {
  color: #fff;
  background-color: #0054A4;
}

.timeline .timeline-btn.pause-btn::after {
  width: 0.3em;
  height: 0.8em;
  border-left: 0.2em solid #fff;
  border-right: 0.2em solid #fff;
}

.timeline .timeline-container {
  flex: 1 1 auto;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
}

/* -------------------------------------------------------------------------- */
/*                              Timeline: Slider                              */
/* -------------------------------------------------------------------------- */
.noUi-pips.noUi-pips-horizontal {
  cursor: default;
  height: unset;
}

.noUi-handle,
.timeline-bar,
.timeline-btn {
  cursor: pointer;
}

.noUi-target {
  height: 3px;
  background-color: #44545f;
  border: 0;
  box-shadow: none;
}

.noUi-target::before,
.noUi-target::after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  width: 3px;
  height: 12px;
  background-color: #44545f;
}

.noUi-target::before {
  left: 0;
}

.noUi-target::after {
  right: 0;
}

.noUi-horizontal .noUi-handle {
  right: -8px !important;
}

.noUi-handle {
  width: 1rem !important;
  height: 1rem !important;
  background-color: #0054A4;
  border: 0;
  border-radius: 50%;
  box-shadow: none;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-value {
  top: 0;
  font-family: "Synthese", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #383737;
}

.noUi-marker-large {
  top: 0;
  height: 8px;
  background-color: #44545f;
}

.noUi-value-large:not(:nth-child(2)):not(:last-child) {
  padding-left: 40px;
}

.noUi-marker-large:first-child,
.noUi-marker-large:nth-last-child(2) {
  display: none;
}

.noUi-marker-large:first-child + .noUi-value {
  left: 10% !important;
}

.noUi-marker-large:nth-last-child(2) + .noUi-value {
  left: 90% !important;
}

.noUi-marker-normal {
  top: 0;
  background-color: #44545f;
}
