<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>China Power | Food Security</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="lib/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">

    <div class="wrapper">
      <h1>International Food Trade: {{selected_category.text}}, {{ selected_year }}</h1>

      <!-- Data Select & Filtering -->      
      <div class="dataSelect">
        <div class="years selectContainer">
          <select name="years" id="years" class="dropdown" ng-options="y as y for y in years" ng-model="selected_year"></select>
        </div>

        <div class="categories selectContainer">
          <select name="categories" id="categories" class="dropdown" ng-options="category as category.text for category in categories track by category.id" ng-model="selected_category"></select>
        </div>

        <fieldset class="filter">
          <legend><h5>Country Filter</h5></legend>
          
          <div class="panel">
            <div class="filter-message" ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
              Click a country name to remove it from the chart.
            </div>
            <ul class="side-nav">
              <li ng-repeat="filter in filters">
                <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
                <label for="{{ filter.name }}">{{ filter.name }}</label>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
           <button class="button tiny right" ng-show="hasFilters === true" ng-click="filters = {}; hasFilters = false;">
            CLEAR FILTER
          </button>
        </fieldset>
      </div>

      <!-- Render Chart -->
      <div class="svgContainer">
          <chord-diagram></chord-diagram>
      </div>

      <!-- Source -->
      <div class="source">
        CSIS China Power Project | Source: 
      </div>

      <!-- Tooltip -->
      <fieldset id="tooltip">
        <div>
          <h6 class="first">{{ tooltip.sname }}'s Exports to {{ tooltip.tname }}</h6>
 
          {{ tooltip.sname }} exported <span class="redtext">${{ qFormat(tooltip.svalue) }}M </span> in {{selected_category.text}} to {{ tooltip.tname }} in {{ selected_year }}. This represented <span class="redtext">{{ pFormat(tooltip.svalue/tooltip.stotal) }}</span> of {{ tooltip.sname }}’s {{selected_category.tooltip}} exports that year.


        </div>
        <div>
          <h6>{{ tooltip.tname }}'s Exports to {{ tooltip.sname }}</h6>

          {{ tooltip.tname }} exported <span class="redtext">${{ qFormat(tooltip.tvalue) }}M</span> in {{selected_category.text}} to {{ tooltip.sname }} in {{ selected_year }}. This represented <span class="redtext">{{ pFormat(tooltip.tvalue/tooltip.stotal) }}</span> of {{ tooltip.tname }}’s {{selected_category.tooltip}} exports that year.
        </div>
      </fieldset>

    </div>

    <script src="lib/d3.min.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/matrixFactory.js"></script>
    <script src="js/chordDirective.js"></script>
    <script src="https://use.fontawesome.com/8016a8c9f2.js"></script>
  </body>
</html>