html:root{
  background-color: #FCFCFC;
}

body * {
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
}

.interactive {
  background-color: #FCFCFC;
  margin: 15px;
  padding: 20px;
  height: 470px;
  font-weight: bold;
}

img {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
}

.main-icon {
  margin: 0 auto;
  width: 65px;
  height: 65px;
}

.tippy-svg-arrow {
  display: none; /* the arrow is displaying as "false" otherwise */
}

.tippy-box {
  background-color: rgba(265, 265, 265);
  border: 1px solid  #0054A4;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.tippy-arrow {
  color: #0054A4;;
}

.subtitle {
  font-size: 15px;
  font-family: source-sans-pro, sans-serif; 
}

h1 {
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: 'synthese', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #0054A4;
  font-weight: bold;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 10px;
  text-align: center;
  color: black;
  font-weight: normal;
}

.title {
  color: #333333;
  text-align: left;
} 

.tip-header {
  font-family: 'synthese', sans-serif;
  font-weight: bold;
  display: flex;
  padding-top: 5px;
  margin-bottom: 8px;
}

.tip-icon {
  width: 25px;
  height: 25px;
}

.header {
  font-family: 'synthese', sans-serif;
  color: #0054A4;
  font-weight: bold;
  margin: 0 15px;
  display: inline;
  align-self: center;

}

h3.title {
  color: #767676;
  margin-top: 12px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'synthese', sans-serif;
}

p.info {
  margin: 0;
  font-size: 15px;
  font-family: source-sans-pro, sans-serif;
  padding-left: 10px;
  color: #000;  
}

p.info:last-of-type {
  margin-bottom: 12px;
}

.credits {
  color: #757575;
  font-size: 9px;
  text-align: end;
  padding-top: 15px;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .tip-header {
    padding-top: 10px;
  }

  .tip-icon {
    width: 40px;
    height: 40px;
  }
  .main-icon {
    width: 180px;
    height: 180px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
