@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 1200px;
}

h2 {
  text-align: center;
}

h4 span {
  display: inline-block;
  margin-right: 6px;
  background-color: #666;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.chart {
  margin-top: 6px;
}
h5 {
  text-align: center;
  color: #666;
}

h5:first-child {
  margin: -6px 0 0;
}

h5:last-child {
  margin: 12px 0 0;
}

.figures {
  display: grid;
}
@media screen and (min-width: 768px) {
  .statistic {
    display: grid;
    grid-row: 1;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  h5 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  h5 span.stat {
    margin-right: 6px;
    font-size: 24px;
  }
}

figure {
  margin: 0 6px;
}

.highcharts-title tspan {
  font-size: 24px;
}

.title {
  color: #333333;
  font-size: 33px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #333333;
  font-size: 24px;
  margin: 0 0 1.5rem;
  line-height: 1.4;
}

.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}

/* .highcharts-data-label tspan {
  fill: white;
}
.highcharts-data-label {
  z-index: 99;
} */

#container,
#container2,
.heading,
body {
  width: 100%;
  min-width: 190px;
  /* max-width: calc(100vw - 36px); */
}
.highcharts-background {
  fill: transparent;
}

#container,
#container2,
body {
  margin: 0 auto;
}

.highcharts-button-hover .highcharts-button-box {
  transition: all 0.3s ease-in-out;
  fill: #0a8672;
}

.tabletitle {
  /* color: #404041; */
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}

.highcharts-title {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  h5 span {
    display: block;
  }
  h5 span.stat {
    font-size: 24px;
  }
  #container,
  #container2,
  .heading,
  body {
    /* max-width: calc(100vw - 40px); */
  }
}

label {
  /* position: absolute;
  visibility: hidden; */
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 2em;
}

#countryFilter {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 0 auto 1em;
}

select,
input {
  width: 100%;
  border-radius: 5px;
  background: #e5eff6;
  border: 0;
  border-bottom: 1px solid #004165;
  font-size: 18px;
  height: 36px;
}

select {
  width: 150px;
  font-weight: bold;
  text-align: center;
  text-align-last: center;
}

option.option {
  text-indent: 50px;
}

input:focus,
select:focus {
  outline: none;
  border-bottom: 2px solid red;
}

/* input::placeholder {
  text-transform: none;
  font-weight: normal;
  font-style: italic;
} */

/* input,
option,
select,
.datalist-polyfill .datalist-box ul {
  text-transform: uppercase;
  line-height: 2em;
  font-weight: bold;
  text-align: center;

}
.ws-po-outerbox {
  max-width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) !important;
}

.ws-po-arrow {
  border-bottom: 0.61538em solid #4e4154;
}

.ws-po-box {
  border: 0.07692em solid #4e4154;
} */

.highcharts-legend {
  z-index: -1;
}
