@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
#container,
#container2,
body {
  min-width: 190px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 1200px;
}
figure {
  margin: 0 6px;
}
h2 {
  text-align: center;
}
h4 span {
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 6px;
  width: 12px;
}
h5 {
  align-items: center;
  color: #333;
  display: flex;
  font-weight: normal;
  text-transform: uppercase;
}
h5 span.stat {
  margin-right: 6px;
  font-size: 24px;
}
.chart {
  margin-top: 6px;
}
.citation a {
  margin-right: 10px;
  text-decoration: none;
}
.citation,
.citation a {
  color: #999999;
  font-size: 14px;
  margin: 0 auto 1.5rem;
  max-width: calc(100% - 50px);
}

.highcharts-background {
  fill: transparent;
}
.highcharts-button-hover .highcharts-button-box {
  fill: #0a8672;
  transition: all 0.3s ease-in-out;
}
.highcharts-credits tspan {
  cursor: default !important;
}
.highcharts-legend {
  z-index: -1;
}
.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}
.highcharts-title {
  font-size: 24px;
}
.highcharts-title tspan {
  font-size: 24px;
}
.subtitle {
  color: #333333;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 auto 0.5rem;
  max-width: calc(100% - 50px);
}
.title {
  color: #333333;
  font-size: 33px;
  max-width: 1280px;
  text-align: center;
}

select:focus {
  border-bottom: 2px solid red;
  outline: none;
}
label {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  line-height: 2em;
  text-transform: uppercase;
  white-space: nowrap;
}
section header {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: 0 auto 1em;
  max-width: calc(100% - 50px);
}
select {
  font-weight: bold;
  text-align: center;
  text-align-last: center;
  width: 150px;
  background: #e5eff6;
  border: 0;
  border-bottom: 1px solid #004165;
  border-radius: 5px;
  font-size: 18px;
  height: 36px;
  margin-left: 6px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  section header {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
