#mobileImage {
    display: none;
}
@media only screen and (max-width: 725px) {
    #hcContainer, h2, p, select {
        display: none;
    }
    #mobileImage {
        display: block;
        width: 90vw;
        margin: 0 auto;
    }

}
h2, p {
    color: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-weight: 100;
}
h2 {
    text-align: center;
    font-size: 23px;
}
p {
    text-align: left;
    font-size: 12px;
    margin: 0 18px;
    max-width: 1000px;
}

select {
    margin-top: 17px;
    margin-left: 21px;
}



