/*==============================
=            Source            =
==============================*/
.interactive__source {
  padding-bottom: 0;
  text-align: center;

  @include breakpoint('medium') {
    margin: 1.5rem auto 0;
    text-align: right;
  }

  a {
    box-shadow: none;
    color: #004165;
    text-decoration: none;
  }

  img {
    max-width: 300px;
    height: auto;
  }

  p {
    position: relative;
    top: -15px;
    left: 75px;
    margin: 0;
    color: $tooltip-gray;
    font-size: 0.8rem;
    line-height: 1.3;
    // text-align: center;

    @include breakpoint('medium') {
      text-align: right;
      top: -20px;
      left: -40px;
    }
  }
}
