/*================================
=            Tooltips            =
================================*/

.tippy-content {
  position: relative;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  padding: 0.75rem 0.75rem 0rem;
  color: $black;
  @include fontSize(14px);
  line-height: 1.2;
  text-align: left;
  background-color: $white;
  border: 1px solid $blue-gray;
  border-radius: 3px;
  pointer-events: none;

  .tooltip-heading {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: $font-roboto;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    border-bottom: 1px solid $black;

    @include breakpoint('medium') {
      margin-top: 0;
      line-height: 1.8;
    }
  }

  .tooltip-close {
    position: absolute;
    top: 0.25rem;
    right: 0;
    z-index: 25;
    display: block;
    width: 25%;
    color: $black;
    text-align: right;
    pointer-events: all;

    @include breakpoint('medium') {
      display: none;
    }
  }
}

.tippy-box {
  position: relative;
  left: -50px;
  top: 60px;

  @include breakpoint('medium') {
    left: -60px;
    top: 75px;
  }
}

.tippy-arrow {
  display: none;
  visibility: hidden;
}

.interactive__tooltip-container {
  .tip-content {
    position: relative;

    &::after {
      content: 'i';
      position: absolute;
      left: -50px;
      top: 54px;
      width: 14px;
      height: 14px;
      padding-right: 0.5px;
      color: $black;
      font-weight: bold;
      font-size: 9px;
      line-height: 16px;
      text-align: center;
      background: $white;
      border: 1px solid $black;
      border-radius: 50%;

      @include breakpoint('medium') {
        left: -60px;
        top: 75px;
      }
    }
  }
}
