@use 'sass:color';

// Variables
$color__white: #fff;
$color__black: #000;
$color__dark-blue: #1A6CC4;
$color__light-blue: #00B2E3;
$color__light-red: #D84B29;
$color__yellow: #F4BE43;
$color__green: #45B166;
$color__purple: #C02EF3;
$color__dark-pink: #881C44;

// colors
$graph__lines-primary: #171717;
$graph__lines-secondary: #dbdbdb;
$graph__lines-labels: #585D60;
$graph__axis-labels: $color__black;

/*----------  Fonts  ----------*/
$font__hind: 'Hind', sans-serif;
$font__roboto: 'Roboto', sans-serif;

/*----------  Structural  ----------*/
$breakpoints: (
  'small': 0,
  'medium': 48em,
  'large': 64em,
  'xlarge': 90em,
);

$size__max-width: 800px;
$size__content-max-width: 1200px;

$indicators: (
  "Europe & North America": $color__dark-blue,
  "East Asia & Pacific": $color__light-blue,
  "Latin America & Caribbean": $color__light-red,
  "Sub-Saharan Africa": $color__yellow,
  "Middle East & North Africa": $color__green,
  "Central & South Asia": $color__purple,
  "High": $color__dark-pink,
  "Upper Middle": $color__green,
  "Lower Middle": $color__light-blue,
  "Low": $color__yellow,
);

