@use 'sass:color';

// Variables
$color__white: #fff;
$color__black: #000;
$color__dark-blue: #004165;
$color__light-blue: #4CC7E6;
$color__light-red: #0FAA91;
$color__yellow: #F9A914;
$color__green: #720C79;
$color__gray: #808081;

// colors
$graph__lines-primary: #171717;
$graph__lines-secondary: #dbdbdb;
$graph__lines-labels: #585D60;
$graph__axis-labels: #131313c0;


// buttons
$button__active-state: #455A64;

/*----------  Fonts  ----------*/
$font__hind: 'Hind', sans-serif;
$font__roboto: 'Roboto', sans-serif;

/*----------  Structural  ----------*/
$breakpoints: (
  'small': 0,
  'medium': 48em,
  'large': 64em,
  'xlarge': 90em,
);

$size__max-width: 800px;
$size__content-max-width: 1200px;

$indicators: (
  "Americas": $color__dark-blue,
  "Africa": $color__light-blue,
  "Europe": $color__yellow,
  "Asia": $color__light-red,
  "Oceania": $color__green,
  "N/A": $color__gray,
  "High": $color__dark-blue,
  "Upper Middle": $color__light-blue,
  "Lower Middle": $color__yellow,
  "Low": $color__light-red,
);

