body {
  margin: 10px auto;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
  width: 100%;
  min-width: 190px;
  max-width: 900px;
}

#controls {
  font-size: 18px;
  margin: 25px 0;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

span:nth-child(2) {
  margin-left: 20px;
}

#country-info {
  color: #666;
  font-size: 28px;
  position: relative;
  left: -50%;
  height: 3rem;
  transform: translateX(50%);
}

svg {
  border: 1px solid #ddd;
}

circle {
  stroke: white;
  stroke-width: 1.5;
  cursor: pointer;
}

.title {
  color: #333333;
  font-size: 24px;
  max-width: 1280px;
  text-align: center;
}
.subtitle {
  color: #333333;
  font-size: 12px;
  max-width: 1280px;
}
.credit {
  max-width: 1140px;
  text-align: right;
  margin-right: 20px;
  color: #999999;
  font-size: 9px;
}
.credit a {
  cursor: pointer;
  color: #999999;
  text-decoration: none;
}
.continent-key-element text {
  fill: white;
}

@media only screen and (max-width: 768px) {
  .tooltip {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #country-info {
    display: none;
  }
}

/*================================
=            Tooltips            =
================================*/

.tooltip,
.tooltip-info {
  display: block;
  font-size: 14px;
  line-height: 1.4;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  width: fit-content;
  max-width: 175px;
  height: auto;
  margin: 0 15px;
  padding: 8px 8px 10px;
  pointer-events: none;
  opacity: 0;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
}
.tooltip p {
  margin: 0;
}

.tooltip .tooltip-heading {
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid black;
}
.label {
  cursor: pointer;
}
.tooltip .location {
  display: block;
  font-size: 10px;
  font-style: italic;
}

.tooltip .tooltip-label {
  text-transform: capitalize;
}
.tooltip-label.indented {
  padding-left: 0.75rem;
}

.tooltip-list li {
  font-size: 14px;
}
.tooltip-list li:before {
  font-size: 9px;
}

.tooltip-list .active-category {
  font-weight: bold;
}

.tooltip-close {
  font-weight: bold;
  position: absolute;
  z-index: 25;
  top: 0.25rem;
  right: 0.5rem;
  display: block;
  width: 25%;
  text-align: right;
  pointer-events: all;
}

.tooltip-info {
  max-width: 100px;
}
