/*============================
=            Chart           =
============================*/

.chart {
  svg {
    transform: transform3d(0, 0, 0);
  }

  .group {
    cursor: pointer;

    .percent {
      stroke-width: 0.25px;
      stroke: #fff;
      opacity: 1;
    }

    .state {
      fill: #fff;
      stroke-width: 4px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .label {
      pointer-events: none;
      font-size: 18px;
      fill: #000;
      stroke: #fff;
      text-shadow: 2px 4px 4px #fff;
      stroke-width: 0.25px;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
    }

    &:hover .label {
      fill: #eae134;
      text-shadow: none;
      // fill: #fff;
      // text-shadow: 2px 4px 4px #000;
    }

    &:hover .state {
      stroke: #eae134;
    }
  }
}
/*============================
=          Header           =
============================*/

.key {
  > .legend-label {
    flex-basis: 100%;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: #777;
  }

  > .direction {
    flex-basis: 100%;
    color: #777;
    font-style: italic;
    font-size: 12px;
    margin-top: 6px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px;
    background-color: #eae134;

    @include breakpoint('medium') {
      background-image: linear-gradient(
          to right,
          #eae134 0%,
          #eae134 62%,
          transparent 62%
        ),
        repeating-linear-gradient(
          -55deg,
          #eae134,
          #eae134 10px,
          #fff 10px,
          #fff 20px
        );
    }

    .legend-bar {
      font-family: 'Inconsolata', monospace;
      flex: 0 0 100px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 36px;
      background-color: #fff;
      padding: 6px;
      // height: 36px;
      // background: linear-gradient(180deg, #e5e5e5 0%, #5e5e5e 100%);
      // width: 12px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -60px;
        left: -24px;
        width: 10px;
        height: calc(100% + 106px);
        background-color: #fff;
      }
      span {
        padding-left: 12px;
      }
    }

    .countries {
      font-family: 'Inconsolata', monospace;
      flex: 0 0 calc(100% - 148px);
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .legend-label {
        position: relative;
        flex: 1 0 47%;
        box-sizing: border-box;
        font-size: 1rem;
        background-color: #ffffff;
        padding: 6px 3px 6px 2rem;
        margin: 0 6px 6px 0;

        @include breakpoint('medium') {
          flex: 1 0 auto;
          margin: 0 6px 0 0;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0.4rem;
          width: 15px;
          height: 15px;
          transition: all 0.2s ease-in-out;
        }

        &.active:before,
        &.other:before {
          height: 12px;
          width: 12px;
          border: 3px solid #000;
        }

        &:not(.other) {
          cursor: pointer;
        }
        &.all.active {
          cursor: default;
        }
        &.all:not(.active):hover:before,
        &.eu:hover:before,
        &.canada:hover:before,
        &.china:hover:before,
        &.mexico:hover:before {
          height: 12px;
          width: 12px;
          border: 3px solid #ffffff;
        }

        &.china:before {
          background-color: #fe5000;
        }
        &.canada:before {
          background-color: #9eb040;
        }
        &.eu:before {
          background-color: #0aa4cf;
        }
        &.mexico:before {
          background-color: #f2af19;
        }
        &.other:before {
          background-color: #ffffff;
        }
        &.all:before {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe5000+0,9eb040+25,0aa4cf+50,f2af19+75,eae134+100 */
          background: rgb(254, 80, 0); /* Old browsers */
          background: -moz-linear-gradient(
            left,
            rgba(254, 80, 0, 1) 0%,
            rgba(158, 176, 64, 1) 25%,
            rgba(10, 164, 207, 1) 50%,
            rgba(242, 175, 25, 1) 75%,
            rgba(255, 255, 255, 1) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            left,
            rgba(254, 80, 0, 1) 0%,
            rgba(158, 176, 64, 1) 25%,
            rgba(10, 164, 207, 1) 50%,
            rgba(242, 175, 25, 1) 75%,
            rgba(255, 255, 255, 1) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            to right,
            rgba(254, 80, 0, 1) 0%,
            rgba(158, 176, 64, 1) 25%,
            rgba(10, 164, 207, 1) 50%,
            rgba(242, 175, 25, 1) 75%,
            rgba(255, 255, 255, 1) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
      }
    }
  }
}
