/*============================
=            Chart           =
============================*/

.chart {
  svg {
    transform: transform3d(0, 0, 0);
  }

  .group {
    // transform: scaleX(-1);
    cursor: pointer;

    .percent {
      stroke-width: 0.25px;
      stroke: #fff;
      opacity: 1;
    }

    .state {
      fill: #fff;
      stroke-width: 4px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .label {
      pointer-events: none;
      font-size: 18px;
      fill: #000;
      stroke: #fff;
      paint-order: stroke;
      // text-shadow: 2px 4px 4px #fff;
      stroke-width: 3px;
      font-family: $font_source;
      text-transform: uppercase;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
    }

    &:hover .label {
      fill: #eae134;
      text-shadow: none;
    }

    &:hover .state {
      stroke: #eae134;
    }
  }
}
/*============================
=          Header           =
============================*/

.key {
  margin-bottom: 24px;
  > .legend-label {
    flex-basis: 100%;
    font-family: $font_inconsolata;
    font-weight: 400;
    color: #4a4a4a;
    text-transform: uppercase;
    @include fontSize(14px);
    letter-spacing: 1.2px;
  }

  > .direction {
    flex-basis: 100%;
    color: #4a4a4a;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 6px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .legend-bar {
      font-family: $font_inconsolata;
      flex: 0 0 200px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 36px;
      background-color: #fff;
      padding: 6px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -24px;
        width: 1px;
        height: 150%;
        background-color: #000;
      }
      span {
        padding-left: 12px;
        font-size: 0.9rem;
      }
    }

    .countries {
      flex: 0 0 calc(100% - 250px);
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .legend-item {
        font-size: 1rem;
        flex: 1 0 47%;
        position: relative;
        box-sizing: border-box;
        margin: 0 6px 6px 0;
        display: flex;
        @include breakpoint('medium') {
          flex: 1 0 auto;
          margin: 0 6px 0 0;
        }

        .legend-label {
          font-family: $font_inconsolata;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: -0.2em;
            width: 1rem;
            height: 1rem;
            border: 1px solid #000;
            margin-right: 0.5rem;
            -webkit-transition: 0.2s;
            transition: 0.2s;
          }

          &:hover:not(.all):before {
            border: 1px solid #eae134;
          }

          &.all:before {
            background-color: #eae134;
          }

          &.china:before {
            background-color: #fe5000;
          }
          &.canada:before {
            background-color: #9eb040;
          }
          &.eu:before {
            background-color: #0aa4cf;
          }
          &.mexico:before {
            background-color: #f2af19;
          }
        }

        input {
          @include fontSize(18px);
          position: absolute;
          opacity: 0;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          line-height: 1.78;
          top: 1px;
          left: 2px;

          &:not(:checked) {
            cursor: pointer;
          }

          &:checked + label::after {
            content: '\e878';
            font-family: 'tradeguys';
            font-weight: bold;
            color: #000;
            position: absolute;
            top: 1px;
            left: 1px;
            cursor: pointer;
          }

          &.all:checked + label::after {
            cursor: default;
            border: none;
          }
        }
      }
    }
  }
}
