@media only screen and (max-width: 688px) {
    text.highcharts-title {
        font-size: 12px !important;
        line-height: 12px !important;
        text-align: left !important;
    }
}


@media only screen and (max-width: 688px) {
g.highcharts-button
{
    display: none !important;
}
}
