table.dataTable thead th {
  background: #0065a4;
  color: #fff;
  padding: 0.6em 0.9em;
  /* text-transform: uppercase; */
  font-family: Expo-serif-pro, "Liberation Sans", Helvetica, Arial, sans-serif;
}

table {
  max-width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.2;
}

tbody td:first-child {
  font-family: source-sans-pro, sans-serif;
  font-weight: bold;
}

.dtr-details {
  width: 100%;
}

.dtr-details li {
  display: flex;
  justify-content: space-between;
}

.child .dtr-data {
  font-weight: normal;
}

.dt-body-right {
  font-family: source-sans-pro, sans-serif;
  min-width: 50px;
}

table.dataTable tfoot td {
  padding: 0.5rem 0.25rem 0.5rem 0;
  font-size: 14px;
  color: #666;
}

a {
  color: #0065a4;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0a8672;
  text-decoration: underline;
}
