@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Chart           =
============================*/

.yo {
  display: grid;
  grid-template-areas: 'active active' 'inactive-0 inactive-1' 'inactive-2 inactive-3';

  .active {
    grid-area: active;
  }

  .inactive-0 {
    grid-area: inactive-0;
  }

  .inactive-1 {
    grid-area: inactive-1;
  }

  .inactive-2 {
    grid-area: inactive-2;
  }

  .inactive-3 {
    grid-area: inactive-3;
  }
}
.interactive__charts {
  position: relative;
  width: 100%;
  max-width: $size__content-max-width;
  margin: 0 auto;

  // grid-template-columns: ;



  @include breakpoint(medium) {
    margin: 0 3rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }

}


.active {
  grid-area: active
}

.inactive {
  grid-area: inactive;
}