@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Options           =
============================*/

.interactive {

  &__options {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    max-width: $size__max-width;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 0 3rem auto;
      width: 100%;
    }

    &--label {
      color: $color__cat-labels;
      text-transform: uppercase;
      padding-right: rem(8px);
      font-weight: 600;
      @include font-size(16px);
    }
  
    &--group {
      margin-right: 4px;
    }
  }

  &__indicators {
    margin: -16px 0 32px;

    @include breakpoint(medium) {
      margin: unset;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: column;
    }

    @include breakpoint(large) {
      flex-direction: row;
    }


    &--checkboxes {
      display: flex;
      flex-direction: row;

      @include breakpoint(medium) {
        justify-content: flex-end;
        align-items: center;
        margin-right: rem(8px);
      }

      label {
        margin-top: rem(2px);
        margin-right: rem(8px);
        color: $color__item-labels;;
        @include font-size(16px);
      }

      input[type=checkbox] {
        position: relative;
      }

      input[type=checkbox]:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0.6em;
        height: 0.6em;
        border: 2px solid $color__blue-gray-200;
        border-radius: 2px;
        content: "";
      }

      input[type=checkbox]:checked:before {
      background-color: $color__blue-gray-200;
      border-color: $color__blue-gray-900;
      }

      input[type=checkbox]:checked:after {
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      input[type=checkbox]:after {
        position: absolute;
        top: 1;
        left: 4px;
        display: block;
        width: .2rem;
        height: .5rem;
        content: "";
      }
    }

    &--dropdown {
      margin: rem(12px) 0 auto;
  
      @include breakpoint(medium) {
        margin: unset;
      }
  
      .input__select {
        max-width: 200px;
        min-width: 200px;

        .placeholder {
          color: $color__cat-labels;
          @include font-size(16px);
        }
  
        @include breakpoint(medium) {
          display: inline-block;
        }
      }
    }
  }
}
