
@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Slider           =
============================*/
.slider-wrap {
  position: relative;
}

.slider {
  width: 100%;

  &__bubble {
    background: $color__white;
    color: $color__black;
    padding: 4px 12px;
    top: 25px;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $color__gray-300;
  
    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: 7px solid $color__gray-300;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin-left: -5px;
      margin-top: -1px;
    }
  }
}

/* Unset default web slider styling */
input[type=range]{
  -webkit-appearance: none;
  border: 1px solid white;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 250px;
  height: 6px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $color__blue;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-thumb {
  background: $color__dkblue;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input {
  width: 250px;
}