/*===================================
=            Page Layout            =
===================================*/

#interactive__header {
  max-width: $size-max-width;
  margin: 0 auto;
}

.instructions--desktop {
  display: none;

  @include breakpoint('medium') {
    display: inline;
  }
}

// #interactive__filters {
//   position: relative;
//   z-index: 10;
//   max-width: $size-max-width;
//   margin: 0 auto 2rem;

//   .interactive__filters-category {
//     margin-bottom: 1rem;
//   }

//   .filter-label {
//     display: inline-block;
//     margin: 0 0.5rem 0 0;
//   }

//   .filter-category {
//     max-width: 300px;
//   }
// }

#interactive__charts {
  position: relative;
  display: grid;
  // grid-auto-rows: min-content;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0;
  // grid-template-columns: repeat(var(--grid-columns), 1fr);
  max-width: $size-max-width;
  margin: 0 auto;

  @include breakpoint('medium') {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.province[data-id='IB'] {
  position: relative;
  bottom: 80px;
  left: -5px;
}

.province[data-id='HL'],
.province[data-id='HA'],
.province[data-id='RA'],
.province[data-id='SU'],
.province[data-id='DI'] {
  position: relative;
  left: 75px;
}

.province[data-id='DR'],
.province[data-id='DY'],
.province[data-id='HM'],
.province[data-id='HI'] {
  position: relative;
  left: 135px;
  top: 10px;
}

.province[data-id='LA'],
.province[data-id='QU'],
.province[data-id='RD'],
.province[data-id='TA'] {
  position: relative;
  left: 135px;
  top: 20px;
}

.interactive__source {
  max-width: $size-max-width;
  margin-right: auto;
  margin-left: auto;
}
