/*===================================
=            Page Layout            =
===================================*/

#interactive__header {
  max-width: $size-max-width;
  margin: 0 auto;
}

.instructions--desktop {
  display: none;

  @include breakpoint('medium') {
    display: inline;
  }
}

#interactive__charts {
  position: relative;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-width: $size-max-width;
  margin: 0 auto;

  @include breakpoint('medium') {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.province:nth-child(n + 8) {
  position: relative;
  left: 0;

  @include breakpoint('medium') {
    left: 75px;
  }
}

.province[data-id='HL'] {
  position: relative;
  left: 60px;

  @include breakpoint('medium') {
    left: 0px;
  }
}

.province[data-id='IB'] {
  position: relative;
  left: 60px;

  @include breakpoint('medium') {
    left: 5px;
  }
}

.interactive__source {
  max-width: $size-max-width;
  margin-right: auto;
  margin-left: auto;
}
