#interactive__legend-container {
  position: relative;
  display: flex;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  align-items: center;
  height: 100%;
  right: 50px;
  top: -10px;

  @include breakpoint('medium') {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    justify-content: center;
    right: 20px;
    top: -20px;
  }

  .filter-label {
    margin-bottom: 0.5rem;
  }

  .filter-desc {
    display: block;
    font-weight: normal;
  }

  text {
    @include fontSize(12px);
  }
}
