* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
} /* Slideshow
  container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
} /* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black !important; /* Adjusted for better visibility */
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; /*
  user-select: none; */
  text-decoration: none !important;
  border-bottom: none !important;
} /* Position the "prev button" to the left of the container */
#prev {
  left: -50px; /* Adjust as needed */
  border-radius: 3px 0 0 3px;
} /*
  Position the "next button" to the right of the container */
#next {
  right: -50px; /* Adjust as needed */
  border-radius: 0 3px 3px 0;
} /* On hover, add a
  black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #333;
  font-size: 0.8em;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #918f8f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #363636;
} 

/* Fading
  animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} /* On smaller
  screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 330px;
  max-height: 520px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black !important; /* Adjusted for better visibility */
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
  text-decoration: none !important;
  border-bottom: none !important;
}

/* Position the "prev button" to the left of the container */
#prev {
  left: -50px; /* Adjust as needed */
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right of the container */
#next {
  right: -50px; /* Adjust as needed */
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #333;
  font-size: 0.8em;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot-container {
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #918f8f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #363636;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
