img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: none;
  border: none;
}

.main-icon {
  width: 75px;
  height: 75px;
}

.tippy-svg-arrow {
  display: none; /* the arrow is displaying as "false" otherwise */
}

.tippy-box {
  background-color: rgba(265, 265, 265);
  border: 1px solid #be4248;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.tippy-content {
  text-align: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
}

.tip-header {
  display: flex;
  padding-top: 15px;
}

.tip-icon {
  width: 40px;
  height: 40px;
  margin: auto 10px;
}

h2 {
  display: inline;
  margin: 0 15px;
  font-size: 25px;
  color: #be4248;
  font-weight: bold;
}

p {
  margin-top: 0;
  color: #333333;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
  }

  .main-icon {
    width: 180px;
    height: 180px;
  }
}
