<div class="cs-card-header">
    <div class="cs-date-container">
        <p><%= date %></p>
    </div>
    <h1><%= country_1.name %> <span>&middot;</span> <%= country_2.name %></h1>
</div>
<div class="cs-card-content cs-card-content-top">
    <div class="cs-card-vessels">
        
        <div class="cs-country-vessels">
            <% for (var i in cty_1_vessels) { %>
            <a class="cs-popover-trigger <%= cty_1_vessels[i].vesselStyle %>" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= cty_1_vessels[i].vesselName %>" data-content="" data-template='<%= cty_1_vessels[i].popoverTemplate %>'>
                <div class="cs-vessel-container">
                    <div class="cs-vessel-icon"></div>
                    <p class="cs-vessel-count"><%= cty_1_vessels[i].vesselCount %></p>
                </div>
            </a>
            <% } %>
            <h5><%= country_1.adj %> Vessels</h5>
        </div>
        
        <div class="cs-country-vessels">
            <% for (var i in cty_2_vessels) { %>
            <a class="cs-popover-trigger <%= cty_2_vessels[i].vesselStyle %>" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= cty_2_vessels[i].vesselName %>" data-content="<%= cty_2_vessels[i].vesselDescription %>" data-template='<%= cty_2_vessels[i].popoverTemplate %>'>
                <div class="cs-vessel-container">
                    <div class="cs-vessel-icon"></div>
                    <p class="cs-vessel-count"><%= cty_2_vessels[i].vesselCount %></p>
                </div>
            </a>
            <% } %>
            <h5><%= country_2.adj %> Vessels</h5>
        </div>
    </div>
    <div class="cs-card-outcome">
        <h4>Outcome</h4>
        <% for (var i in outcome) { %>
        <div class="cs-card-outcome-item" style="border-color:<%= outcome[i].color %>;">
            <div class="cs-outcome-code">
                <h3 style="color:<%= outcome[i].color %>"><%= outcome[i].code %></h3>
            </div>
            <div class="cs-outcome-content">
                <h4><%= outcome[i].title %></h4>
                <p><%= outcome[i].description %></p>
            </div>
        </div>
        <% } %>
    </div>
    <div class="cs-card-summary">
        <h4>Summary of the Encounter</h4>
        <p><%= summary %></p>
    </div>
</div>

<% if (breakdown) { %>
<div class="cs-card-content cs-card-breakdown">
    <ul>
        <% for (var i in breakdown) { %>
        <li><span><%= breakdown[i] %></span></li>
        <% } %>
    </ul>
</div>
<% } %>

<div class="cs-card-content">
<% if (response_1 || response_2) { %>

    <div class="cs-card-responses">
        <% if (response_1) { %>
        <div class="cs-card-response<% if (response_1 && response_2) { %> cs-align-left<% } %>">
            <h4><%= country_1.pos %> Response</h4>
            <p><%= response_1 %></p>
        </div>
        <% } %>
        <% if (response_2) { %>
        <div class="cs-card-response<% if (response_1 && response_2) { %> cs-align-left<% } %>">
            <h4><%= country_2.pos %> Response</h4>
            <p><%= response_2 %></p>
        </div>
        <% } %>
        <div class="clearfix"></div>
    </div>

<% } %>

<% if (footer) { %>
<div class="cs-card-footer">
    <div class="cs-card-sources">
        <a class="cs-popover-trigger" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Sources" data-content="" data-template='<%= footer.sourcesTemplate %>'>Sources</a>
    </div>
    <div class="cs-card-methodology">
        <a class="cs-popover-trigger" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Methodology" data-content="" data-template='<%= footer.methodologyTemplate %>'>Methodology</a>
    </div>
    <div class="clearfix"></div>
</div>
<% } %>
</div>




