@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.highcharts-title tspan {
  font-size: 24px;
}

.title {
  color: #333333;
  font-size: 33px;
  max-width: 1280px;
  text-align: center;
}

.subtitle {
  color: #333333;
  font-size: 16px;
  max-width: 1280px;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}

/* .highcharts-data-label tspan {
  fill: white;
}
.highcharts-data-label {
  z-index: 99;
} */

#container,
#container2,
.heading,
body {
  width: 100%;
  min-width: 190px;
  /* max-width: calc(100vw - 36px); */
}
.highcharts-background {
  fill: transparent;
}

#container,
#container2,
body {
  margin: 0 auto;
}

#intro.heading {
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .highcharts-tooltip {
    visibility: hidden;
  }
  #labels .label {
    display: none;
  }
}

#play-controls {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#play-controls * {
  display: inline-block;
  vertical-align: middle;
}
#play-controls > .label {
  position: relative;
  top: -0.5rem;
}
#play-pause-button {
  position: relative;
  top: -0.5rem;
  background-color: #0faa91;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 2.5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#play-pause-button:before {
  margin-left: 2px;
}
#play-pause-button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #0a8672;
}

.highcharts-button-hover .highcharts-button-box {
  transition: all 0.3s ease-in-out;
  fill: #0a8672;
}

#play-range {
  width: 100%;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

#range {
  position: relative;
  top: -10px;
  margin: 2.5%;
  width: 85%;
}

#ticks {
  position: absolute;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);

  height: 1rem;
  width: 98%;
  margin: auto auto auto 0.3%;
}

#labels {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);

  height: 1.5rem;
  width: 84%;
  margin: auto auto auto 0.5%;
}
#ticks .tick {
  cursor: pointer;
}

.label {
  transition: all 0.3s ease-in-out;
  display: block;
  height: 1.5rem;
}

.label.active,
#ticks .label:hover {
  color: #0faa91;
  -webkit-box-shadow: inset -1px -6px 0 -2px #0faa91;
  box-shadow: inset -1px -6px 0 -2px #0faa91;
}

.tick:not(:first-child) {
  border-left: 1px solid #404041;
}

.tabletitle {
  /* color: #404041; */
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}

.highcharts-title {
  font-size: 24px;
}

.highcharts-point {
  stroke-width: 0;
}
/* .highcharts-legend-item:nth-of-type(1) .highcharts-point {
  fill: rgb(102, 198, 203);
}
.highcharts-legend-item:nth-of-type(2) .highcharts-point {
  fill: rgb(74, 159, 174);
}
.highcharts-legend-item:nth-of-type(3) .highcharts-point {
  fill: rgb(45, 120, 146);
}
.highcharts-legend-item:nth-of-type(4) .highcharts-point {
  fill: rgb(17, 81, 117);
} */
/* .highcharts-container {
  height: unset;
} */

.legend {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.legend li {
  margin: 0 6px;
}
.legend li:nth-child(n + 2) {
  position: relative;
}

.legend li:nth-child(n + 2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.legend li:nth-of-type(1) {
  font-weight: bold;
  margin-left: 0;
}
.legend li:nth-of-type(2)::before {
  background-color: #e86259;
}
.legend li:nth-of-type(3)::before {
  background-color: #eda27c;
}
.legend li:nth-of-type(4)::before {
  background-color: #75baa9;
}
.legend li:nth-of-type(5)::before {
  background-color: #4c8984;
}

.legend li span {
  margin-left: 18px;
}

.legend li:nth-of-type(2) span::before {
  content: "Less than 25";
}
.legend li:nth-of-type(3) span::before {
  content: "Greater than 25";
}
.legend li:nth-of-type(4) span::before {
  content: "Greater than 50";
}
.legend li:nth-of-type(5) span::before {
  content: "Greater than 75";
}

@media screen and (max-width: 768px) {
  #container,
  #container2,
  .heading,
  body {
    max-width: calc(100vw - 40px);
  }

  .legend {
    flex-wrap: wrap;
  }

  .legend li:nth-of-type(2) span::before {
    content: "< 25";
  }
  .legend li:nth-of-type(3) span::before {
    content: "> 25";
  }
  .legend li:nth-of-type(4) span::before {
    content: "> 50";
  }
  .legend li:nth-of-type(5) span::before {
    content: "> 75";
  }
}
