@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
  font-size: 12px;
}

.highcharts-title tspan {
  font-size: 24px;
}

@media screen and (max-width: 400px) {
  .highcharts-tooltip {
    visibility: hidden;
  }
  #labels .label {
    display: none;
  }
}

.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}

/* .highcharts-data-label tspan {
  fill: white;
}
.highcharts-data-label {
  z-index: 99;
} */

#container,
#container2,
.heading {
  width: 100%;
  min-width: 190px;
  max-width: 800px;
  margin: 0 auto;
  /* height: 100%; */
}
#play-controls {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
#play-controls * {
  display: inline-block;
  vertical-align: middle;
}
#play-pause-button {
  background-color: #0a8672;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 2.5%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#play-pause-button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ddd;
  color: #444;
}
#play-range {
  width: 100%;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

#range {
  position: relative;
  top: -10px;

  margin: 2.5%;
  width: 70%;
}

#ticks {
  position: absolute;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);

  height: 1rem;
  width: 96.5%;
  margin: auto auto auto 0.5%;
}

#labels {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);

  height: 1.5rem;
  width: 80%;
  margin: auto auto auto 0.5%;
}
#ticks .tick {
  cursor: pointer;
}

.label {
  transition: all 0.3s ease-in-out;
  display: block;
  height: 1.5rem;
}

.label.active,
#ticks .label:hover {
  font-weight: bold;
  color: #0a8672;
  -webkit-text-stroke: 1px #0a8672;
  -webkit-box-shadow: inset -1px -6px 0 1px #0a8672;
  box-shadow: inset -1px -6px 0 1px #0a8672;
}

.tick:not(:first-child) {
  border-left: 1px solid #404041;
}

.tabletitle {
  /* color: #404041; */
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}

.highcharts-title {
  font-size: 24px;
}

.highcharts-point {
  stroke-width: 0;
}
/* .highcharts-legend-item:nth-of-type(1) .highcharts-point {
  fill: rgb(102, 198, 203);
}
.highcharts-legend-item:nth-of-type(2) .highcharts-point {
  fill: rgb(74, 159, 174);
}
.highcharts-legend-item:nth-of-type(3) .highcharts-point {
  fill: rgb(45, 120, 146);
}
.highcharts-legend-item:nth-of-type(4) .highcharts-point {
  fill: rgb(17, 81, 117);
} */
/* .highcharts-container {
  height: unset;
} */
