@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
/* $color-white: #ffffff;
$color-black: #000000;
$color-dust: #b89e69;
$color-warm-gray: #7d7d7d;
$color-cool-gray: #bdc8d0;
$color-light-brown: #d7c7a4;
$color-dark-sand: #a58d5d;
$color-dark-blue: #143459;
$color-gray-brown: #4a4a4a;
$color-slate: #5a6c7a;
$color-light-silver: #bdc8d0;
$color-silver: #d8d9dc;
$color-dark-silver: #c4ccd2;
$color-off-white: #f2f2f2;
$color-gray: #999999;
$color-dusty-lavender: #c3c2c3;
$color-light-gray: #eaeaea;
$color-beige: #efe6d0;
$color-purple: #8e6c89;
$color-dark-purple: #643b5e;
$color-brown: #968f80;
$color-dark-brown: #58544a;
$color-orange: #f26522;
$color-dark-orange: #be4911;
$color-turquoise: #47acb1;
$color-dark-turquoise: #2f7679;
$color-yellow: #f5a623;
$color-dark-yellow: #c18015;
$color-dark-blue-gray: #0b1f37;
$color-darkest-blue: #1c334f;
$color-gray-blue: #314d6e; */
body {
  padding-top: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #618bab;
  color: #fff;
}

.header {
  padding-left: 12px;
  border-left: 6px solid #fff;
}

.title {
  text-transform: uppercase;

  font-size: 33px;
  max-width: 1280px;
}

.subtitle {
  font-size: 16px;
  max-width: 1280px;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.highcharts-point,
.highcharts-data-label tspan {
  cursor: pointer;
}

/* .highcharts-data-label tspan {
  fill: white;
}
.highcharts-data-label {
  z-index: 99;
} */

#container,
#container2,
.heading,
body {
  width: 100%;
  min-width: 190px;
  /* max-width: calc(100vw - 36px); */
}
.highcharts-background {
  fill: transparent;
}

#container,
#container2,
body {
  margin: 0 auto;
}

#intro.heading {
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .highcharts-tooltip {
    visibility: hidden;
  }
  #labels .label {
    display: none;
  }
}

#play-controls {
  margin-top: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#play-controls * {
  display: inline-block;
  vertical-align: middle;
}
#play-controls > .label {
  position: relative;
  top: -0.5rem;
}
#play-pause-button {
  position: relative;
  top: -0.5rem;
  background-color: #b89e69;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 2.5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#play-pause-button:before {
  margin-left: 2px;
}
#play-pause-button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #a58d5d;
}

.highcharts-button-hover .highcharts-button-box {
  transition: all 0.3s ease-in-out;
  fill: #a58d5d;
}

#play-range {
  width: 100%;
  position: relative;
  z-index: 99;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #fff;
  height: 4px;
  margin: 7px 0;
  border-radius: 2px;
}

#range {
  position: relative;
  top: -10px;
  margin: 2.5% 2.8% 2.5% 2.5%;
  width: 85%;
}

#ticks {
  position: absolute;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);

  height: 1rem;
  width: 98%;
  margin: auto auto auto 0.3%;
}

#labels {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5rem;
  width: 90%;
  margin: auto auto auto 0.5%;
}
#ticks .tick {
  cursor: pointer;
}

.label {
  transition: all 0.3s ease-in-out;
  display: block;
  height: 1.5rem;
}

.label.active,
#ticks .label:hover {
  color: #fff;
  -webkit-box-shadow: inset -1px -6px 0 -2px #fff;
  box-shadow: inset -1px -6px 0 -2px #fff;
}

.tick:not(:first-child) {
  border-left: 1px solid #fff;
}

.tabletitle {
  /* color: #404041; */
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}

.highcharts-title {
  font-size: 24px;
}

.legend {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.legend li {
  white-space: nowrap;
  margin: 0 3px;
}

.legend li:nth-of-type(2) {
  width: 100%;
  background: #2b6178; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #2b6178 0%,
    #418698 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #2b6178 0%,
    #418698 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #2b6178 0%,
    #418698 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda27c', endColorstr='#4c8984',GradientType=1 ); /* IE6-9 */
}

@media screen and (max-width: 768px) {
  #container,
  #container2,
  .heading,
  body {
    max-width: calc(100vw - 40px);
  }

  .legend {
    /* flex-wrap: wrap; */
  }
}
