.heading {
  background-color: white;
  color: #004165;
  padding: 4px 5px;
}

.hide {
  display: none;
}
/*============================
=          Base          =
============================*/
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
  max-width: 1080px;
}

a:hover {
  text-decoration: none;
}

a:link,
a:hover,
a:visited {
  color: white;
  font-weight: bold;
  letter-spacing: 1.4px;
}

h1 {
  border-top: 5px solid #bcbcbc;
  color: #004165;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.16667;
  margin: 0.5em 0;
  padding-top: 0.5em;
}

img {
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 350px;
  padding: 8px 10px;
}
/*============================
=           Filter          =
============================*/
.dataTables_wrapper .dataTables_filter {
  background-color: rgba(15, 65, 101, 0.33);
  color: #004165 !important;
  float: none !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  padding: 40px;
  text-align: left !important;
  text-transform: uppercase;
}

.dataTables_wrapper .dataTables_filter > :not(button) {
  display: flex;
  flex-basis: 48%;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.dataTables_wrapper .dataTables_filter > label:first-of-type {
  align-items: center;
  display: flex;
}

.dataTables_wrapper .dataTables_filter input {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 14px;
  padding-left: 3px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.dataTables_wrapper .dataTables_filter input:focus {
  background: rgba(255, 255, 255, 1);
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}

.dataTables_wrapper .dataTables_filter option:not(:first-of-type) {
  color: black;
  font-style: normal;
}
/*============================
=           Button           =
============================*/
button {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

button.reset {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  margin: 24px 0 0;
  padding: 16px 18px;
}

button.reset:hover {
  background-color: #004165;
  border: 3px solid #004165;
}

button.view-all {
  background-color: #004165;
  border: none;
  color: white;
  display: block;
  margin: auto;
  padding: 8px 9px;
  position: relative;
  width: 200px;
}

button.view-all.up {
  top: 12px;
}

button.view-all.down {
  top: -12px;
}

button.view-all:hover {
  background-color: white;
  color: #004165;
}

button.view-all.down:after,
button.view-all.up:before {
  content: "";
  display: block;
  position: absolute;
  transition: border-bottom 0.2s ease-in-out, border-top 0.2s ease-in-out,
    color 0.2s ease-in-out;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
}

button.view-all.down:after {
  top: 100%;
  border-top: 20px solid #004165;
  border-bottom: 0 solid transparent;
}

button.view-all.up:before {
  top: -20px;
  border-bottom: 20px solid #004165;
  border-top: 0 solid transparent;
}

button.view-all.up:hover:before {
  border-bottom: 20px solid white;
}

button.view-all.down:hover:after {
  border-top: 20px solid white;
}

/*============================
=           Table           =
============================*/
table {
  margin-right: 12px;
  width: calc(100%-12px);
}

table li {
  line-height: 1.2;
  margin-bottom: 6px;
}

table ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 24px;
  padding-left: 24px;
}

table ul li::before {
  content: "\2B24";
  display: inline-block;
  font-size: 6px;
  font-weight: bold;
  margin-left: -2em;
  position: relative;
  top: -0.5em;
  width: 2em;
}

table.dataTable {
  border-spacing: 12px;
}

table.dataTable.display tbody td {
  border-top: none;
}

table td {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
}

table td.details-control {
  background: url(../img/details_open.png) no-repeat center 12px;
  cursor: pointer;
}

table th {
  background-color: #004165;
  color: white;
  padding: 8px 10px;
  vertical-align: top;
}

table th,
.heading {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.4px;
  line-height: 1.31;
  text-transform: uppercase;
}

table thead select {
  font-size: 1em;
  width: 100%;
}

table tr > td {
  padding: 8px 10px;
  vertical-align: top;
}

table tr > td:nth-child(3),
.dataTables_wrapper .dataTables_filter > div label {
  white-space: nowrap;
}

table tr.group td {
  border-bottom: 8px solid #0065a4;
  color: #004165;
  font-size: 1.8em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-transform: uppercase;
}

table tr.odd ul li::before,
table tr.even ul li::before {
  color: #0065a4;
}

table tr.shown td.details-control {
  background: url(../img/details_close.png) no-repeat center 12px;
}

table tr.shown td:nth-child(1) {
  background-color: white;
}

table tr.shown td:nth-child(n + 2) {
  background-color: rgba(15, 65, 101, 0.2) !important;
}

table tr.shown + tr > td {
  background-color: rgba(15, 65, 101, 0.33);
}

table tr.shown + tr > td > div {
  display: flex;
  flex-wrap: wrap;
}

table tr.shown + tr > td > div > div {
  break-inside: avoid-column;
  flex-basis: 100%;
  margin: 0 0 12px 18px;
  page-break-inside: avoid;
}

table tr.shown + tr > td > div > div:last-of-type {
  flex-basis: 100%;
}

table tr:first-of-type td {
  padding-top: 1.5em;
}

table tr:not(.group).hover > td {
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, opacity, text-shadow,
    transform;
  transition-timing-function: linear;
}

table tr:not(.odd):not(.even) ul li::before {
  color: white;
}
/*============================
=          Datalist          =
============================*/

.datalist-polyfill .datalist-box li {
  white-space: wrap !important;
}
.ws-popover {
  overflow: visible !important;
}
/*============================
=           Mobile           =
============================*/
@media screen and (min-width: 769px) {
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button) {
    flex-wrap: nowrap !important;
    flex-basis: 48%;
  }

  .dataTables_wrapper .dataTables_filter {
    display: flex;
    flex-wrap: wrap;
  }

  .dataTables_wrapper .dataTables_filter > label:first-of-type {
    flex-basis: 100%;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button):nth-child(even) {
    margin-left: 24px;
  }

  button.reset {
    margin: 0 0 0 24px;
  }

  table tr.shown + tr > td > div > div {
    flex-basis: 48%;
  }
}
