.hide {
  display: none;
}
/*============================
=          Base          =
============================*/
html {
  height: 99%;
}

body {
  min-height: 99%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

.dataTables_wrapper .dataTables_filter,
table {
  margin: auto;
  max-width: 1080px;
}

.dataTables_wrapper .dataTables_info {
  margin: auto;
  max-width: calc(100vw - 24px);
}

a:link,
a:hover,
a:visited {
  color: #0065a4;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

table a:link,
table a:hover,
table a:visited {
  color: white;
  letter-spacing: 1.4px;
}

table th,
.heading {
  font-family: Inconsolata, monospace;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1.4px;
  line-height: 1.31;
  text-transform: uppercase;
}
.heading {
  background-color: white;
  color: #004165;
  padding: 4px 5px;
  margin-bottom: 6px;
}

h1 {
  border-top: 4px solid #bcbcbc;
  color: #004165;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.16667;
  margin: 0.5em 0;
  padding-top: 0.5em;
}

footer {
  border-top: 2px solid #bcbcbc;
}

footer,
h1 {
  text-align: center;
  width: calc(100vw - 24px);
}

img {
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 250px;
  padding: 8px 10px;
}
/*============================
=           Filter          =
============================*/
.dataTables_wrapper .dataTables_filter {
  background-color: rgba(15, 65, 101, 0.33);
  box-sizing: border-box;
  color: #004165 !important;
  float: none !important;
  padding: 40px;
}

.dataTables_wrapper .dataTables_filter label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  text-align: left !important;
  text-transform: uppercase;
}

.dataTables_wrapper .dataTables_filter > :not(button) {
  display: flex;
  flex-basis: 48%;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.dataTables_wrapper .dataTables_filter > label:first-of-type {
  align-items: center;
  display: flex;
}

.dataTables_wrapper .dataTables_filter input {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 0.9rem;
  padding-left: 3px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.dataTables_wrapper .dataTables_filter input:focus {
  background: rgba(255, 255, 255, 1);
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}

.dataTables_wrapper .dataTables_filter option:not(:first-of-type) {
  color: black;
  font-style: normal;
}
/*============================
=           Button           =
============================*/
button {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

button.reset {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  margin: 24px 0 0;
  padding: 16px 18px;
}

button.reset:hover {
  background-color: #004165;
  border: 3px solid #004165;
}

button.view-all {
  background-color: #004165;
  border: none;
  color: white;
  display: block;
  margin: auto;
  padding: 8px 9px;
  position: relative;
  width: 200px;
}

button.view-all.up {
  top: 12px;
}

button.view-all.down {
  top: -12px;
}

button.view-all:hover {
  background-color: white;
  color: #004165;
}

button.view-all.down:after,
button.view-all.up:before {
  content: "";
  display: block;
  position: absolute;
  transition: border-bottom 0.2s ease-in-out, border-top 0.2s ease-in-out,
    color 0.2s ease-in-out;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
}

button.view-all.down:after {
  top: 100%;
  border-top: 20px solid #004165;
  border-bottom: 0 solid transparent;
}

button.view-all.up:before {
  top: -20px;
  border-bottom: 20px solid #004165;
  border-top: 0 solid transparent;
}

button.view-all.up:hover:before {
  border-bottom: 20px solid white;
}

button.view-all.down:hover:after {
  border-top: 20px solid white;
}

/*============================
=           Table           =
============================*/

.dataTables_wrapper {
  margin: 0 24px 0 0 !important;
  width: calc(100% - 24px);
  -webkit-animation: fadeIn 2s ease-out;
  -moz-animation: fadeIn 2s ease-out;
  -o-animation: fadeIn 2s ease-out;
  animation: fadeIn 2s ease-out;
}

table {
  margin: 0 24px 0 0 !important;
}

table li {
  line-height: 1.2;
  margin-bottom: 6px;
}

table ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 24px;
  padding-left: 24px;
}

table ul li::before {
  content: "\2B24";
  display: inline-block;
  font-size: 6px;
  font-weight: bold;
  margin-left: -2em;
  position: relative;
  top: -0.5em;
  width: 2em;
}

table.dataTable {
  border-spacing: 12px;
}

table.dataTable.display tbody td {
  border-top: none;
}

table td {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

table td.details-control {
  background: #fff url(../img/details_open.png) no-repeat center 12px;
  cursor: pointer;
  width: 50px;
}

table tr:hover td.details-control {
  background: #fff url(../img/expand.png) no-repeat center 12px;
  background-size: 93%;
  cursor: pointer;
}

table tr.shown td.details-control {
  background: #fff url(../img/details_close.png) no-repeat center 12px;
}

table th:not(:first-child) {
  background-color: #004165;
  color: white;
  padding: 8px 10px;
  vertical-align: top;
}

table.dataTable thead th:first-child {
  border-bottom: none;
}

table thead select {
  font-size: 1em;
  width: 100%;
}

table tr > td {
  padding: 8px 10px;
  vertical-align: top;
}

table tr > td:nth-child(3),
.dataTables_wrapper .dataTables_filter > div label {
  white-space: nowrap;
}

table tr.group td {
  border-bottom: 8px solid #0065a4;
  color: #004165;
  font-size: 1.8em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-transform: uppercase;
}

table tr.odd ul li::before,
table tr.even ul li::before {
  color: #0065a4;
}

table tr.shown td:nth-child(1) {
  background-color: white;
}

table tr.shown td:nth-child(n + 2) {
  background-color: rgba(15, 65, 101, 0.2) !important;
}

table tr.shown + tr > td {
  background-color: rgba(15, 65, 101, 0.33);
}

table tr.shown + tr > td > div {
  display: flex;
  flex-wrap: wrap;
}

table tr.shown + tr > td > div > div {
  break-inside: avoid-column;
  flex-basis: 100%;
  margin: 0 0 12px 18px;
  page-break-inside: avoid;
}

table tr.shown + tr > td > div > div:last-of-type {
  flex-basis: 100%;
}

table tr:first-of-type td {
  padding-top: 1.5em;
}

table tr:not(.group).hover > td {
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, opacity, text-shadow,
    transform;
  transition-timing-function: linear;
}

table tr:not(.odd):not(.even) ul li::before {
  color: white;
}
/*============================
=          Vendors          =
============================*/

.datalist-polyfill .datalist-box li {
  white-space: normal !important;
  max-width: 400px;
}
.ws-popover {
  overflow: visible !important;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: none;
  margin-bottom: 100px;
  text-align: center;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-sans-pro-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('../fonts/source-sans-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/source-sans-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('../fonts/inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v16-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/*============================
=           Mobile           =
============================*/
@media screen and (min-width: 769px) {
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button) {
    flex-wrap: nowrap !important;
    flex-basis: 48%;
  }

  .dataTables_wrapper .dataTables_filter {
    display: flex;
    flex-wrap: wrap;
  }

  .dataTables_wrapper .dataTables_filter > label:first-of-type {
    flex-basis: 100%;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button):nth-child(even) {
    margin-left: 24px;
  }

  button.reset {
    margin: 0 0 0 24px;
  }

  table {
    margin: 0 auto !important;
  }

  table tr.shown + tr > td > div > div {
    flex-basis: 48%;
  }
}

/*============================
=         Animation         =
============================*/
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
