/*===============================
=            Buttons            =
===============================*/
.btn
{
	color: $white;
	text-transform: uppercase;
	font-family: $font-roboto;
	@include fontSize(13px);
	line-height: 1.69;
	letter-spacing: 0.7px;
	padding: 0.25rem 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
}

.btn {
	&.btn-red {
		background-color: $red;

		&:hover {
			background-color: $dark-red;
		}
	}
	&.btn-blue {
		background-color: $color__background-button-blue;

		&:hover {
			background-color: $color__text-button-blue;
		}

		&.inactive {
			background-color: $color__text-button-blue;
		}
	}
	&.btn-transparent {
		background-color: transparent;
		color: $black;
		text-transform: none;
	}
	&.btn-gray {
		background-color: $off-white;
		color: $tooltip-gray;

		&:hover {
			background-color: $color__background-button-gray;
		}
	}
}
