/*==============================
=            Source            =
==============================*/
.interactive__source {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: right;

  img {
    max-width: 300px;
    height: auto;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.1;
    margin: 0;
    text-align: right;
    color: gray;
  }
}
