@use 'abstracts' as *;

/*==============================
=            Source            =
==============================*/
.interactive__source {
  position: relative;
  max-width: $size__content-max-width;
  text-align: right;
  margin: 0.5rem auto;

  a:not(.source-holder) {
    color: $color__blue;
    text-decoration: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0 -2px 0 0 $color__gray-200;
    }
  }

  .source-holder {
    display: block;
    width: fit-content;
    margin: 0 0 rem(4px) auto;
  }

  img {
    display: block;
    width: 100%;
    min-width: 225px;
    max-width: 250px;
    height: auto;

    @include breakpoint('medium') {
      min-width: 275px;
      max-width: 300px;
    }
  }

  p {
    margin: 0;
    color: $color__gray-400;
    font-size: 0.8rem;
    line-height: 1.3;
    text-align: right;
  }
}