@use 'sass:color';
@use 'abstracts' as *;

/*================================
=            Tooltips            =
================================*/
.tippy-content {
  width: 100%;
  padding: 0.75rem !important;
  color: $color__gray-900;
  @include font-size(14px);
  line-height: 1.2;
  background-color: $color__white;
  border: 1px solid $color__primary;
  border-radius: 3px;
  opacity: 0.95;
}

.tippy-box {
  background-color: transparent !important;
}

.tippy-backdrop {
  background-color: transparent;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $color__primary !important;
}

.tippy-box[data-placement^='bottom'].tippy-arrow::before {
  border-bottom-color: $color__primary !important;
}

.tippy-box[data-placement^='left'].tippy-arrow::before {
  border-left-color: $color__primary !important;
}

.tippy-box[data-placement^='right'].tippy-arrow::before {
  border-right-color: $color__primary !important;
}

.tooltip {
  &__heading {
    text-align: center;
    margin: 0 0 rem(12px);
    padding: 0 0 rem(4px);
    font-family: $font__museo;
    color: $color__primary;
    @include font-size(16px);
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  &__values {
    margin: 0;
    padding: 0;
    color: $color__gray-900;
    @include font-size(14px);
    list-style: none;
    text-transform: uppercase;

    @include breakpoint(medium) {
      margin: 0;
      display: block;
    }

    li {
      position: relative;
      margin-bottom: 0.5rem;
    }

    span {
      font-weight: 600;
    }
  }
}
