@use 'sass:color';

// Variables
$color__white: #fff;
$color__black: #000;

$color__gray-100: #f1f1f1;
$color__gray-200: #d4d0cb;
$color__gray-300: #c5c5c5;
$color__gray-400: #808081;
$color__gray-500: #d4d0cb;
$color__gray-800: #555;
$color__gray-900: #333;

$color__blue: #004E80;
$color__dkblue: #004165;
$color__blue-gradient-100: #0064a3;
$color__blue-gradient-200: #004165;

$color__highlight: #0FAA91;
$color__dkhighlight: #0A8672;


$color__primary: $color__blue;
$color__primary-200: color.scale($color__primary, $lightness: -10%);


/*----------  Fonts  ----------*/
$font__hind: "Hind", sans-serif;
$font__roboto: "Roboto", sans-serif;
// $font__source:
$font__museo: "Museo Sans", sans-serif;

/*----------  Structural  ----------*/
$breakpoints: (
  "small": 0,
  "medium": 48em,
  "large": 64em,
  "xlarge": 90em,
);

$size__max-width: 800px;
$size__content-max-width: 1000px;

/*----------  Custom  ----------*/
