[id^="Event"].tl-timemarker .tl-timemarker-content-container {
  background-color: red;
}
[id^="Conference"].tl-timemarker .tl-timemarker-content-container {
  background-color: orange;
}
[id^="Organization"].tl-timemarker .tl-timemarker-content-container {
  background-color: yellow;
}
[id^="Initiative"].tl-timemarker .tl-timemarker-content-container {
  background-color: green;
}
[id^="Findings"].tl-timemarker .tl-timemarker-content-container {
  background-color: blue;
}

.tl-timegroup-message {
  color: #bcbcbc !important;
  text-shadow: 0 !important;
}
.tl-storyslider h2.tl-headline {
  font-family: Georgia, serif !important;
}

.tl-storyslider {
  max-height: 800px !important;
}
.tl-slidenav-next,
.tl-slidenav-previous {
  top: 33% !important;
}

.tl-timenav {
  /* height: 200px !important; */
}
