body {
  font-family: "Source Sans Pro", sans-serif;
}

div#searchbox input {
  width: 75%;
}

div#results {
  background: #fff;
}

.box header h1 {
  display: inline-block;
  color: #2e3c43;
  line-height: 1.625rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.313rem;
  font-weight: 700;
  width: calc(100% - 67px);
}

.description {
  color: #747d82;
  font-size: .75rem;
  line-height: 1rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.button__title {
  font-size: .75rem !important;
}

.ul {
  font-family: "Source Sans Pro", sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #333;
}

.leaflet-popup-close-button {
  display: none;
}

#tooltip {
  display:block;
}

.popupHeaderStyle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.popupEntryStyle {
  padding: 0;
  margin: 0;
  font: .875rem "Source Sans Pro", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #e4e3e3;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

@media screen and (max-width: 500px){
  .toolbox {
    max-width: 80% !important ;
  }
}

.legend {
  position: relative;
  top: .313rem;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: .75rem;
  font-size: .75rem;
}

.legend[data-type="total_cases"] {
  --ramp1: #ffcfbf;
  --ramp2: #fd998c;
  --ramp3: #e56b61;
  --ramp4: #bc4741;
  --ramp5: #942223;
  --ramp6: #670000;
}

.legend li {
  padding: 0px;
  margin: 0;
  position: relative;
}

.legend li::before {
  content: "";
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 25px;
  height: 5px;
  background: var(--bg);
}

#ramp1::before {
  background-color: var(--ramp1);
  border: 3px solid var(--ramp1);
}

#ramp2::before {
  background-color: var(--ramp2);
  border: 3px solid var(--ramp2);
}

#ramp3::before {
  background-color: var(--ramp3);
  border: 3px solid var(--ramp3);
}

#ramp4::before {
  background-color: var(--ramp4);
  border: 3px solid var(--ramp4);
}

#ramp5::before {
  background-color: var(--ramp5);
  border: 3px solid var(--ramp5);
}

#ramp6::before {
  background-color: var(--ramp6);
  border: 3px solid var(--ramp6);
}

.legend__value {
  position: relative;
}

.legend__value > span {
  position: absolute;
  top: .938rem;
  right: 1.438rem;
}