@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700';

body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  margin:0;
  padding:0;
}

h1 {
	font-size:30px;
	letter-spacing: .025em;
	color: #444;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

p {
	font-size:16px;
  	line-height: 1.6;
  	font-family: 'Roboto', sans-serif;
  	text-align:center;
}

.content {
	width:100%;
	margin:0 auto;
}

#container {
	width:100%;
	margin-top:60px;
}
.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}
.legendTitle {
	font-weight:bold;
	font-style:italic;
	text-align:right;
}
.dropdown {
	position:absolute;
	z-index: 10;
	top:0px;
	width: 200px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px;
	border:3px solid;
	border-radius: 0;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none;  /*Removes default style Firefox*/
	background-color: rgba(0,0,0,0);
}

.selectLeft {
	left:25%;
	border-color: #5AA993;

}
.selectRight {
	right:25%;
	border-color: #7F4B9D;

}

.wrapperLeft, .wrapperRight {
	position: relative;
	font-size: 16px;
	line-height: 20px;
	margin: 0 auto;
}

.wrapperLeft::before, .wrapperRight::before {
	content: '\f078';
	font-family: FontAwesome;
	color: #fff;
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	z-index: 5;
	padding: 12px;
}

.wrapperLeft::before {
	left: calc(25% + 160px);
	background-color: #5AA993;
}

.wrapperRight::before {
	right: 25%;
	background-color: #7F4B9D;
}

@media only screen and (max-width: 545px){

	#container {
		margin-top:110px;
	}

	.dropdown {
		font-size: 0.8em;
		width:100%;
	}

	.selectLeft {
		left: 0;
	}

	.wrapperLeft::before {
		left: inherit;
		right: 0;
	}

	.selectRight {
		right: 0;
		top: 50px;
	}

	.wrapperRight::before {
		top:50px;
		right: 0%;
	}

}

@media only screen and (min-width: 546px) and (max-width: 900px) {
	.selectLeft {
		left: 15%;
	}

	.wrapperLeft::before {
		left: calc(15% + 160px);
	}

	.wrapperRight::before {
		left: calc(55% + 160px);
		right: inherit;
	}

	.selectRight {
		left: 55%;
		right: inherit;
	}
}