@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700';

body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}

h1 {
  font-size:30px;
  letter-spacing: .025em;
  color: #444;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

.content {
	width:95%;
	margin:0 auto;
}

#container, #containerBar {
	height: 600px;
	min-width: 310px;
	width:100%;
	margin: 0 auto;
}

.titleContainer {
	text-align:center;
}

#description {
	display:none;
}

.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}

.legendTitle {
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-anchor: start;
}
.highcharts-legend-item text {
	cursor: default !important;
}
.dropdown {
	display:none;
	width: 330px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px;
	border:3px solid;
	border-radius: 0;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none;  /*Removes default style Firefox*/
	background-color: rgba(0,0,0,0);
	border-color: #DD4760;
	position:relative;
	z-index:10;
}

.dropdownWrapper {
	position: relative;
	font-size: 16px;
	line-height: 20px;
	margin: 0 auto;
}

.dropdownWrapper::before {
	content: '\f078';
	font-family: FontAwesome;
	color: #fff;
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 0px;
	left: calc(50% + 125px);
	z-index: 0;
	padding: 12px;
	background-color: #DD4760;
}