@use '../abstracts' as *;
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 400px;
  min-height: 200px;

  .chart {
    width: 100%;
    height: 100%;
    isolation: isolate;

    circle {
      mix-blend-mode: darken;
      fill-opacity: 0.8;
      transition: fill .5s ease-in-out, stroke .8s ease-in-out;

      @each $indicator, $color in $indicators {
        &[data-color='#{$indicator}'] {
          fill: $color;
          stroke: darken($color, 1);
          stroke-width: 1.5px;
          outline: none;

          &:focus {
            fill: darken($color, 1);
            outline: darken($color, 1) auto 1px;

            @include breakpoint(medium) {
              fill: $color;
              outline: none;
            }
          }
        }
      }
    }

    .title {
      text {
        text-anchor: middle;
        @extend %chart__title;
        fill: #00000099;
      }
    }

    .axis {
      .xAxisTitle,
      .yAxisTitle {
        @extend %chart__axis-labels;
      }

      .yAxisTitle {
        transform: rotate(-90deg);
      }
    }

    .axis {
      .tick {
        @extend %axis__ticks;

        line {
          z-index: 1;
          stroke: $graph__lines-primary;
        }
        text {
          fill: #585D60;
        }
      }

      &-guideline {
        stroke: $graph__lines-primary;
      }

      &.y-axis {
        .tick {
          .yGuides {
            stroke: $graph__lines-secondary;
          }
          text {
            text-anchor: end;
          }
        }
      }
      &.x-axis {
        .tick {
          text {
            text-anchor: middle;
          }
        }
      }
    }
  }
}

