@use '../abstracts' as *;

/*=====================================
=            Form Elements            =
=====================================*/

.input__label {
  display: block;
  margin: 0 0 5px;
}

.input__desc {
  margin: 0 0 5px;
  color: $color__black;
  @include font-size(14px);
  line-height: 1.3;
}

// Select
.input__select {
  display: inline-block;
  box-sizing: border-box;
  width: initial;
  min-width: 200px;
  max-width: 200px;
  height: 30px;
  margin: 0;
  padding: 3px 35px 5px 7px;
  color: $color__white;
  @include font-size(16px);
  line-height: 1.28571em;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: $color__white;
  background-repeat: no-repeat;
  background-position: 101% center;
  background-size: 30px 30px, 30px 30px;
  border: 2px solid $color__black;
  border-radius: 2px;
  appearance: none;

  @include breakpoint(medium) {
    display: inline-block;
  }

  &:disabled {
    opacity: 0.5;
  }
}
