/*===============================
=            Loading            =
===============================*/
.loading-container {
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid $color__white;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide-on-load {
  visibility: hidden;
  opacity: 0;
}
