@use '../abstracts' as *;

.js-is-hidden {
  opacity: 0 !important;
}

/* 
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 */

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.mobile-only {
  @include breakpoint('medium') {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include breakpoint('medium') {
    display: initial;
  }
}
