// .charts-container {
//   display: grid;
//   grid-template-columns: 400px 400px;
//   row-gap: 40px;
//   column-gap: 40px;
// }

.main-container {
  display: flex;
  

  .charts-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    column-gap: 20px;
    flex-basis: auto;
  }

  .interactive__legend-container{
    max-width: 100px;
  }
}