.main-container {
  display: flex;
  

  .charts-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    flex-basis: auto;
  }

  .interactive__legend-container{
    max-width: 100px;
  }
}