// General

body {
  --breakpoint: 'xsmall';
  font-family: $font-hind;
  font-size: 18px;
  margin: 0;
  padding: 0 1rem;
  color: $gray;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }
}

a {
  text-decoration: none;
  color: $red;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0px -2px 0px 0 $dark-gray;
  }
}

p {
  margin: 0 0 1.5rem;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/*----------  Interactive Header  ----------*/
.interactive__header {
  .interactive__title {
    font-family: $font_source;
    margin: 1rem auto;
    @include fontSize(20px);
    line-height: 1.36;
    letter-spacing: 1.4px;
    color: $black;

    font-weight: bold;
    padding-bottom: 1.25rem;
    border-bottom: 0;
    text-align: center;
  }

  p {
    line-height: 1.78;
    @include fontSize(16px);
    -webkit-font-smoothing: antialiased;
  }
}
