// Variables
$white: #fff;
$black: #000;
$red: #ed392a;
$dark-red: #c42d21;
$green: #58a897;
$bright-green: #8cb561;
$light-blue: #83badc;
$blue: #3b75bb;
$purple: #a483a8;
$dark-purple: #69518d;
$orange: #f7890e;
$yellow: #e7ae3f;
$blue-gray: #728c99;
$off-white: #f1f1f1;
$gray: #333;
$tooltip-gray: #808081;
$select-blue: #455a64;
$select-font-color: #555;
$disabled-button-color: #4a4a4a;
$disabled-button-bg: $off-white;
$form-focus: $off-white;
$dark-gray: #d4d0cb;
$dark-blue: #1d435e;
$grid-lines: #c5c5c5;
$color__text-button-blue: $blue-gray;
$color__background-button-blue: #2b3d46;
$color__background-button-gray: #d6d6d6;
$color__no-data: #efefef;

/*----------  Fonts  ----------*/
$font-hind: 'Hind', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font_inconsolata: 'Inconsolata', monospace;
$font_source: 'Source Sans Pro', sans-serif;
$fontello_url: '../fonts/';
/*----------  Structural  ----------*/
$size-max-width: 700px;

/*----------  Custom  ----------*/

$lineColors: (
  color--1: (
    #f7890e,
    darken(#f7890e, 10%)
  ),
  color--2: (
    #f7d768,
    darken(#f7d768, 10%)
  ),
  color--3: (
    #59c199,
    darken(#59c199, 10%)
  ),
  color--4: (
    #a3db86,
    darken(#a3db86, 10%)
  ),
  color--5: (
    #8cb561,
    darken(#8cb561, 10%)
  ),
  CHN: (
    $red,
    darken($red, 10%)
  ),
  USA: (
    #90c7e0,
    darken(#90c7e0, 10%)
  ),
  JPN: (
    #a483a8,
    darken(#a483a8, 10%)
  )
);
